<section ng-controller=ExampleController>
  <div data-ng-show="!authentication.user">
    <a href="/signup">Signup</a>
    <a href="/signin">Signin</a>
    <br>
  </div>
  <div data-ng-show="authentication.user">

      <h1>Hello,<span data-ng-bind="authentication.user.username"></span></h1>
    <a href="/signout">Sign out</a>
<ul>
  <li><a href="/#!/articles">List Articles</a></li>
    <li><a href="/#!/articles/create">Create Article</a></li>
</ul>
  </div>
<!--<input type=text id=text1 ng-model=name >
<input type=text id=text1 ng-model=name >-->
</section>
