<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
  <h1>Edit Article</h1>
  <form data-ng-submit="update()" novalidate>
    <div>
      <label for="title">Title</label>
      <div>
        <input type="text" id="title" data-ng-model="article.title" placeholder="Title" required>
      </div>
    </div>
    <div>
      <label for="content">Content</label>
      <textarea cols="30" rows="10" data-ng-model = "content"
      id="content" placeholder="Content" data-ng-model="article.content" required>

      </textarea>
    </div>
    <div>
      <input type="submit" value="Update">
    </div>
    <div data-ng-show="error">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>
</section>
