<!Doctype html>
<html xmlns:ng="http://angularjs.org">

    <head>
      <meta property="qc:admins" content="0337376242575166727366141006367" />

      <title><%= title %></title></head>
    <body>
      <!-- <% if(figureurl_qq_2){%>
        <strong>用户QQ头像100x100:</strong>
        <img src="<%= figureurl_qq_2 %>" alt="用户qq头像" />
      <%}%>
      <% if(figureurl_2){%>
        <strong>用户头像100x100:</strong>
        <img src='<%= figureurl_2 %>' alt="用户头像" />
      <%}%> -->
    <!-- <img src="img/idea.png" alt="Logo"> -->
    <section ng-view>
    </section>


    <script type="text/javascript">
      window.user = <%- user || 'null'%>;
    </script>


<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/lib/angular/angular.js" charset="utf-8"></script>
<script src="/lib/angular-route/angular-route.js" charset="utf-8"></script>
<script src="/lib/angular-resource/angular-resource.js" charset="utf-8"></script>
<script src="/articles/articles.client.module.js" charset="utf-8"></script>
<script src="/articles/controllers/articles.client.controller.js" charset="utf-8"></script>
<script src="/articles/services/articles.client.service.js" charset="utf-8"></script>
<script src="/articles/config/articles.client.routes.js" charset="utf-8"></script>
<script src="/example/example.client.module.js" charset="utf-8"></script>
<script src="/example/service/example.client.service.js" charset="utf-8"></script>
<script src="/example/controllers/example.client.controller.js" charset="utf-8"></script>
<script src="/example/config/example.client.routes.js" charset="utf-8"></script>
<script src="/users/users.client.module.js" charset="utf-8"></script>
<script src="/users/services/authentication.client.service.js" charset="utf-8"></script>
<script src="/chat/chat.client.module.js" charset="utf-8"></script>
<script src="/chat/services/chat.client.service.js" charset="utf-8"></script>
<script src="/chat/controllers/chat.client.controller.js" charset="utf-8"></script>
<script src="/chat/config/chat.client.routes.js" charset="utf-8"></script>
<script src="/application.js" charset="utf-8"></script>
</body>

</html>
