<!DOCTYPE html>
<html>
<head><title><%= title %>></title></head>
<body>
<% for (var i in messages){ %>
<div class="flash"><%= messages[i] %></div>
<% } %>

<form action="/signup" method="post">
    <div>
        <label for="">First Name:</label>
        <input type="text" name="firstName">
    </div>
    <div>
        <label for="">Last Name:</label>
        <input type="text" name="lastName">
    </div>
    <div>
        <label for="">Email:</label>
        <input type="text" name="email">
    </div>
    <div>
        <label for="">Username:</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="">Password:</label>
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value="Sign up">
    </div>
    <!--<div>
      <a href="/oauth/facebook">Sign in with Facebook</a>
      <a href="/oauth/qq">Sign in with QQ</a>
    </div>-->
    <div>
      <a href="/oauth/facebook">Sign in with Facebook</a>
      <a href="/oauth/qq"><img src="img/qq.png" alt=""></a>
        <span id="qqLoginBtn"></span>
        <a href="/oauth/google">Sign in with google</a>
    </div>

    </form>
    <!--<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101330197" data-redirecturi="http://f62e7e9.ngrok.natapp.cn" charset="utf-8"></script>-->
    <!--<script src="js/login.js"></script>-->
</body>
</html>
